.footer__column-link {
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity 0.2s;
}
.footer__column-link:hover,
.footer__column-link:active {
  opacity: 0.5;
}
