.footer__column-link {
  display: block;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.footer__column-link:hover,
.footer__column-link:active {
  color: rgba(255,255,255,0.5);
}
